{% extends 'main.html' %}

{% block content %}
<h1> Projects templates </h1>
<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Positive votes</th>
        <th>Votes</th>
        <th></th>
    </tr>
    {% for project in projects %}
    <tr>
        <td>{{project.title}}</td>
        <td>{{project.vote_ratio}}</td>
        <td>{{project.vote_total}}</td>
        <td>{{project.created}}</td>
        <td> <a href= "{% url 'project' project.id %}"> View </a> </td>     
        <td> <a href= "{% url 'updateProject' project.id %}"> Update </a> </td>  
        <td> <a href= "{% url 'deleteProject' project.id %}"> Delete </a> </td> 
    </tr>
    {% endfor %}
</table>


{% endblock content %}

